#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(28, 109, 109);
}

.app {
  background-color: transparent;
}

.galleta {
  background-color: transparent;
  margin-bottom: 20px;
}

.botones {
  background-color: transparent;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.transparente {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.transparente:hover {
  transform: scale(1.05);
}

.transparente img,
.transparente i {
  display: block;
  margin: 0 auto;
}

i {
  font-size: 2rem;
  color: #5a3e2b;
}
